# przypisanie

In [5]:
rok_urodzenia= 1988
imie= "Agata"

In [6]:
imie

'Agata'

In [7]:
imie_kopia=imie

In [9]:
imie_kopia

'Agata'

In [10]:
wiek=2022-rok_urodzenia

In [11]:
wiek

34

# if else

In [12]:
print( "stara") if wiek>30 else print ("mloda")

stara

# funkcje

In [14]:
def czy_stara (wiek):
    if wiek >30:
        return "stara"
    else:
        return "mloda"
    elif wiek==30

In [15]:
print (czy_stara (10))
print (czy_stara (31))

mloda
stara

In [30]:
def cena_okna (szerokosc,wysokosc,cena_za_metr):
    if szerokosc==0 or wysokosc==0 or cena_za_metr==0:
        return -1
    elif szerokosc<0 or wysokosc<0 or cena_za_metr<0:
        return -2
    return szerokosc*wysokosc*cena_za_metr

In [32]:
print (cena_okna(10,20,5))
print (cena_okna (10,0,20))
print (cena_okna (-10,1,20))

1000
-1
-2


# pętla

In [3]:
def srednia (lista):
    suma=0
    ilosc=len(lista)
    for x in lista:
        suma=suma+x #dodaje biezaca wartosc
        print (suma)
    return suma/ilosc

In [4]:
numery= (3,5,7,8,9)
srednia (numery)

3
8
15
23
32

6.4

# strings

In [9]:
text= "ala ma kota"
print (len(text))
print (text[0])
print (text[3:])

11
a
 ma kota

In [10]:
def napisz(tekst):
    for litera in tekst:
        print(litera)

In [11]:
napisz (text)

a
l
a

m
a

k
o
t
a

In [13]:
print("kot ma na imie\n \"alik\" ")

kot ma na imie
 "alik"

In [14]:
print ("""ala
ma
kota""")

ala
ma
kota

In [19]:
text1="ala"
text2="ma"
text3="kota"
print(text1+text2+text3)
print("\n".join((text1,text2,text3)))

alamakota
ala
ma
kota

In [20]:
text="ma kota"
print ("ala"+text [2:])

ala kota

# lista

In [1]:
imiona=["ala","ola","ela"]
print(imiona[1])

ola

In [22]:
def zamien (imiona):
    zmienna2=imiona[2]
    imiona[2]=imiona[0]
    imiona[0]=zmienna2
    print(imiona)

In [23]:
zamien(imiona)

['ela', 'ola', 'ala']

In [26]:
imiona.append ("ula")
imiona.append(2)

In [27]:
imiona

['ela', 'ola', 'ala', 'ula', 'ula', 2]

In [28]:
lista=[1,2,3,4,5]
print(sum(lista))

15

In [29]:
def srednia2(lista):
    return sum(lista)/len(lista)

In [30]:
srednia2([1,2,3,4,5])

3.0

In [31]:
 srednia2(lista)

3.0

In [4]:
def znajdz_max(lista):
    maks=0
    for liczba in lista:
        if liczba >maks:
            maks=liczba
            print (maks)
    return maks

In [6]:
znajdz_max([3,4,7,2,8])

3
4
7
8

8

In [4]:
n = int(input())

5

In [5]:
n

5

In [9]:
range(n)

range(0, 5)

In [7]:
for x in range(n):
    print(str(x)+"-"+str(x**2))

0-0
1-1
2-4
3-9
4-16

In [2]:
n=5
wynik=""
for liczba in range(n):
    wynik+=str(liczba+1)
print(wynik)

12345

In [6]:
n=5
for liczba in range(n):
    print(liczba+1,end="")# podwójne ciapki -nie dodaje nowej linii na końcu

12345

In [45]:
def rysuj(szerokosc,wysokosc):
    for wiersz in range(wysokosc):
        for kolumna in range (szerokosc):
            if wiersz%5==0:
                print("Y",end="")
            else: 
                print("X",end="")   
        print()

In [46]:
rysuj(20,30)

YYYYYYYYYYYYYYYYYYYY
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
YYYYYYYYYYYYYYYYYYYY
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
YYYYYYYYYYYYYYYYYYYY
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
YYYYYYYYYYYYYYYYYYYY
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
YYYYYYYYYYYYYYYYYYYY
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
YYYYYYYYYYYYYYYYYYYY
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXX

In [9]:
def print_full_name(first, last):
    print("Hello " + first +" "+last+"! You just delved into python.")

In [10]:
first_name = input()
last_name = input()

aga
Hello  aga! You just delved into python.

In [6]:
def duplikaty(lista1,lista2):
    for i in range(len(lista1)):
        if lista1[i]==lista2[i]:
            print(lista1[i])

In [7]:
lista1=[1,3,4,8,2]
lista2=[5,3,7,7,2]
duplikaty(lista1,lista2)

3
2

In [8]:
def zera(lista1,lista2):
    for i in range(len(lista1)):
        if lista1[i]==lista2[i]:
            lista1[i]=0
            lista2[i]=0
    print(lista1)
    print(lista2)

In [10]:
zera([1,3,4,8,2],[5,3,7,7,2])

[1, 0, 4, 8, 0]
[5, 0, 7, 7, 0]

In [30]:
def swap_case(s):
    for i in range(len(s)):
        
        if s[i].isupper():
            s[i]=s[i].lower()
            
        if s[i].islower():
            s[i]=s[i].upper()
            
        print(s[i])

In [32]:
def swap_case(s):
    result = ""
    for letter in s:
        if letter == letter.upper():
            result += letter.lower()#+= to samo co result=result+letter.lower() 
        else:
            result += letter.upper()
    return result

In [33]:
swap_case("lalaA")

'LALAa'

In [3]:
a=4
b=3
print(int (a/b))
print(a/b)

1
1.3333333333333333

In [5]:
def split_and_join(line):
    podzielone=line.split(" ")
    polaczone="-".join(podzielone)
    return polaczone

In [6]:
print(split_and_join("ala ma kota"))

ala-ma-kota

# keywords

In [10]:
def cena_okna(cena_za_metr,szerokosc=20,wysokosc=20):
    print(cena_za_metr*szerokosc*wysokosc)

In [11]:
cena_okna(1)

400

In [13]:
cena_okna(1,1,1
         )

1

In [16]:
cena_okna(1,szerokosc=10,wysokosc=10)

100

In [21]:
lista=[True,False,True]

any(lista)

True

In [22]:
"ala ma kota".split()

['ala', 'ma', 'kota']