In [2]:
print ("TVP1", "TVP2", "TVN", "Polsat", "BBC", "HBO", "MTV")

TVP1 TVP2 TVN Polsat BBC HBO MTV

In [3]:
print ("TVP1", "TVP2", "TVN", "Polsat", "BBC", "HBO", "MTV", sep="-")

TVP1-TVP2-TVN-Polsat-BBC-HBO-MTV

In [4]:
ProgramName='BBC'
Item='news'
Time='18'

In [5]:
print ('I like watching News at 18:00 on BBC .')

I like watching News at 18:00 on BBC .

In [6]:
print('I like watching',Item,'at',Time,'on',ProgramName,'.')
print('I like watching ',Item,' at ',Time,' on ',ProgramName,'.', sep='')

I like watching news at 18 on BBC .
I like watching news at 18 on BBC.

In [9]:
"kkk".isprintable()

True

In [10]:
quote='A good programmer is someone who always looks both ways before crossing a one-way street'

In [13]:
quote.upper()

'A GOOD PROGRAMMER IS SOMEONE WHO ALWAYS LOOKS BOTH WAYS BEFORE CROSSING A ONE-WAY STREET'

In [14]:
quote.lower()

'a good programmer is someone who always looks both ways before crossing a one-way street'

In [15]:
quote.endswith('street')

True

In [16]:
quote.find('one')

25

In [17]:
quote.replace('one','1')

'A good programmer is some1 who always looks both ways before crossing a 1-way street'

In [19]:
quote.replace('one','1'), quote.replace('both', '2')

('A good programmer is some1 who always looks both ways before crossing a 1-way street',
 'A good programmer is someone who always looks 2 ways before crossing a one-way street')

In [22]:
quote.split(' ')

['A',
 'good',
 'programmer',
 'is',
 'someone',
 'who',
 'always',
 'looks',
 'both',
 'ways',
 'before',
 'crossing',
 'a',
 'one-way',
 'street']

In [25]:
quote.isnumeric()
quote.isdigit()
quote.isdecimal()
quote.isalpha()

False

In [2]:
firstName='Kasia'
familyName='Sowa'
lastName='Mrugała'
newName=firstName+' '+familyName+' '+lastName
print(newName)

Kasia Sowa Mrugała

In [12]:
music='"Universal Fanfare" Jerry Goldsmith \n"Happy Together" Garry Bonner \n" I\'m a Man" Steve Winwood'
print(music)

"Universal Fanfare" Jerry Goldsmith
"Happy Together" Garry Bonner
" I'm a Man" Steve Winwood

In [18]:
article='''Monty Python, grupa Monty Pythona, Pythoni – zespół twórców i gwiazd telewizyjnego serialu komediowego Latający cyrk Monty Pythona, założony pod koniec lat 60. XX wieku w Anglii. W skład grupy wchodziło sześciu komików: Graham Chapman, John Cleese, Terry Gilliam, Eric Idle, Terry Jones i Michael Palin. '''

In [19]:
print(article)

Monty Python, grupa Monty Pythona, Pythoni – zespół twórców i gwiazd telewizyjnego serialu komediowego Latający cyrk Monty Pythona, założony pod koniec lat 60. XX wieku w Anglii. W skład grupy wchodziło sześciu komików: Graham Chapman, John Cleese, Terry Gilliam, Eric Idle, Terry Jones i Michael Palin.

In [21]:
article.upper()

'MONTY PYTHON, GRUPA MONTY PYTHONA, PYTHONI – ZESPÓŁ TWÓRCÓW I GWIAZD TELEWIZYJNEGO SERIALU KOMEDIOWEGO LATAJĄCY CYRK MONTY PYTHONA, ZAŁOŻONY POD KONIEC LAT 60. XX WIEKU W ANGLII. W SKŁAD GRUPY WCHODZIŁO SZEŚCIU KOMIKÓW: GRAHAM CHAPMAN, JOHN CLEESE, TERRY GILLIAM, ERIC IDLE, TERRY JONES I MICHAEL PALIN. '

In [22]:
article.lower()

'monty python, grupa monty pythona, pythoni – zespół twórców i gwiazd telewizyjnego serialu komediowego latający cyrk monty pythona, założony pod koniec lat 60. xx wieku w anglii. w skład grupy wchodziło sześciu komików: graham chapman, john cleese, terry gilliam, eric idle, terry jones i michael palin. '

In [25]:
print.article.replace('Monty','flying')

'flying Python, grupa flying Pythona, Pythoni – zespół twórców i gwiazd telewizyjnego serialu komediowego Latający cyrk flying Pythona, założony pod koniec lat 60. XX wieku w Anglii. W skład grupy wchodziło sześciu komików: Graham Chapman, John Cleese, Terry Gilliam, Eric Idle, Terry Jones i Michael Palin. '

In [26]:
article.split(' ')

['Monty',
 'Python,',
 'grupa',
 'Monty',
 'Pythona,',
 'Pythoni',
 '–',
 'zespół',
 'twórców',
 'i',
 'gwiazd',
 'telewizyjnego',
 'serialu',
 'komediowego',
 'Latający',
 'cyrk',
 'Monty',
 'Pythona,',
 'założony',
 'pod',
 'koniec',
 'lat',
 '60.',
 'XX',
 'wieku',
 'w',
 'Anglii.',
 'W',
 'skład',
 'grupy',
 'wchodziło',
 'sześciu',
 'komików:',
 'Graham',
 'Chapman,',
 'John',
 'Cleese,',
 'Terry',
 'Gilliam,',
 'Eric',
 'Idle,',
 'Terry',
 'Jones',
 'i',
 'Michael',
 'Palin.',
 '']

In [28]:
article.count('Python')

4

In [37]:
print("word Python appears " +str(article.count('Python')) + " times")

word Python appears 4 times

In [38]:
print("word Python appears",str(article.count('Python')),"times", sep=" ")

word Python appears 4 times

In [40]:
print(f'word Python appears {str(article.count("Python"))} times')

word Python appears 4 times

In [46]:
print ("to print the \ you need to put \ twice in your text like this: \\\\")

to print the \ you need to put \ twice in your text like this: \\

In [42]:
print("The best hits of '80s!!! ")

The best hits of '80s!!!

In [43]:
print('The best hits of \'80s!!!')

The best hits of '80s!!!

In [3]:
amountPLN=234
print('cur','\texchange','amount')
print('USD',"\t",3.65,"\t",amountPLN/3.65)
print('EUR','\t',4.23,"\t",amountPLN/4.23)
valueAsText = '123.45'
factor =1.23
print('value is ', valueAsText,'factor is',factor,'value*factor=',float(valueAsText)*factor)

cur 	exchange amount
USD 	 3.65 	 64.10958904109589
EUR 	 4.23 	 55.31914893617021
value is  123.45 factor is 1.23 value*factor= 151.8435

In [10]:
name='Agata'
age=34
daysInYear=365
message= name+' is'+ str(age) + ' years old, so is about' + str(age*daysInYear)